[Unit]
Description=Cloudsoft AMP Pro service

[Service]
ExecStart=/home/vagrant/cloudsoft-amp-pro/bin/amp launch --persist auto --persistenceDir /vagrant/amp-pro-persistence
WorkingDirectory=/home/vagrant/cloudsoft-amp-pro
Restart=on-abort
User=vagrant
Group=vagrant

[Install]
WantedBy=multi-user.target
