<configuration scan="true">

  <!-- logging configuration for this project; edit this file as required, or override the files
       this includes as described in the Logging section of the brooklyn users guide.
       amp-dist already supplies a logback-custom.xml which gets included to:
       * log our classes at debug level
       * write to both cloudsoft-amp.info.log and info-cloudsoft-amp.debug.log
       * apply a rollover policy to those logs
  -->

  <property name="logging.dir" scope="context" value="/var/log/amp/" />
  <include resource="logback-main.xml"/>

</configuration>